.send_verification {
   background: var(--bg-primary);
   box-shadow: 0 1px 2px var(--shadow-1);
   padding: 20px;
   font-size: 14px;
   color: var(--color-primary);
   display: flex;
   flex-direction: column;
   border-radius: 10px;
}

.verification_link {
   color: var(--blue-color);
}

.verification_link:hover {
   text-decoration: underline;
   cursor: pointer;
}

@media (max-width: 1175px) {
   .send_verification {
      width: 84%;
   }
}

@media (max-width: 1030px) {
   .send_verification {
      width: 100%;
   }
}

@media (max-width: 965px) {
   .send_verification {
      width: 93%;
   }
}

@media (max-width: 905px) {
   .send_verification {
      width: 112%;
   }
}

@media (max-width: 630px) {
   .send_verification {
      width: 100%;
   }
}

