header {
   position: fixed;
   top: 0;
   height: 56px;
   z-index: 99;
   background: var(--bg-primary);
   width: 100%;
   box-shadow: 1px 8px 15px -7px var(--shadow-2);
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   color: var(--color-primary);
}

/*-------header left---------*/

.header_left {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 5px 1rem;
}

.circle {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

.search {
   display: flex;
   align-items: center;
   gap: 8px;
   background: var(--bg-forth);
   padding: 10px 32px 10px 10px;
   border-radius: 50px;
   cursor: text;
}

.search input {
   outline: none;
   border: none;
   background: transparent;
   font-size: 15px;
   font-family: inherit;
}

.search input::placeholder {
   transform: translateY(-1px);
}

/*-------header middle---------*/

.header_middle {
   display: flex;
   align-items: center;
   gap: 14px;
   transform: translateX(3px);
}

.middle_icon {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 125px;
   height: 50px;
   border-radius: 10px;
   cursor: pointer;
   transform: translateX(-2px);
}

.middle_icon:nth-child(2) {
   transform: translateX(-4px);
}

.middle_icon:nth-child(3) {
   transform: translateX(-3px);
}

.middle_icon:nth-child(4) {
   transform: translateX(-5px);
}

.middle_icon:nth-child(5) {
   transform: translateX(-5px);
}

.active {
   border-bottom: 3px solid var(--blue-color);
   border-radius: 0;
   height: 56px;
   transform: translateX(0);
}

.active svg {
   transform: translateY(1px) translateX(-1px);
}

.middle_notification {
   position: absolute;
   top: 3px;
   right: 1.9rem;
   background: var(--notification-background-color);
   border-radius: 50px;
   padding: 1px 5px;
   font-size: 13px;
   color: #fff;
}

/*-------header right---------*/

.header_right {
   display: flex;
   position: absolute;
   right: 8px;
   top: 50%;
   transform: translateY(-50%);
}

.profile_link {
   display: flex;
   align-items: center;
   gap: 5px;
   cursor: pointer;
   padding: 3px 10px 3px 6px;
   border-radius: 50px;
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   margin-right: 10px;
}

.profile_link img {
   width: 28.7px;
   height: 28.7px;
   border-radius: 50%;
   border: 1px solid var(--profile-picture-border-color);
   transform: translateX(-1px);
}

.profile_link span {
   margin-bottom: 3px;
}

.circle_icon {
   position: relative;
   height: 40px;
   width: 40px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 8px;
   background: var(--bg-third);
   cursor: pointer;
}

.right_notification {
   position: absolute;
   top: -6px;
   right: -5px;
   background: var(--notification-background-color);
   border-radius: 50px;
   padding: 1px 6px;
   font-size: 13px;
   color: #fff;
}

/*----- search menu ------*/

.search_area {
   position: absolute;
   align-items: flex-start;
   flex-direction: column;
   gap: 6px;
   background: var(--bg-primary);
   box-shadow: 0 12px 12px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   transition: all 0.2s;
   -webkit-font-smoothing: antialiased;
   z-index: 1;
   min-height: 400px;
   max-height: 70vh;
   padding: 0 16px 10px 6px;
   margin-top: 2px;
}

.search_wrap {
   display: flex;
   align-items: center;
   gap: 6px;
}

.search_area .search {
   padding: 10px 44px 10px 12px;
   width: 252px;
   gap: 4px;
}

.search_area .search input {
   padding-left: 4px;
}

.search_area .search svg {
   transform: translateY(1px);
}

.search_area .search input::placeholder {
   transform: translateY(-2px);
}

.search_area .search input:focus::placeholder {
   transform: translateY(-1px);
}

.search_history_header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   font-size: 14px;
}

.search_history_header span {
   font-weight: 600;
   font-size: 16px;
}

.search_history_header a {
   cursor: pointer;
   color: var(--blue-color);
}

.search_history {
   width: 100%;
}