.reset {
   background: var(--bg-secondary);
   height: 100vh;
   color: var(--color-primary);
}

.reset_header {
   background: var(--bg-primary);
   box-shadow: 1px 8px 15px -7px var(--shadow-1);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 1rem;
   margin-bottom: 50px;
}

.reset_header img {
   width: 160px;
}

.right_reset {
   display: flex;
   align-items: center;
   gap: 10px;
}

.right_reset img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.reset_wrap {
   height: 67vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 10px;
}

.reset_form {
   position: relative;
   background: var(--bg-primary);
   box-shadow: 0 1px 2px var(--shadow-1);
   border-radius: 10px;
   width: 100%;
   height: 280px;
}

.reset_form_header {
   padding: 15px;
   font-weight: 600;
   font-size: 24px;
   border-bottom: 1px solid var(--bg-third);
}

.reset_form_text {
   padding: 15px;
   font-size: 17px;
}

.reset_form form {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-bottom: 1px solid var(--bg-third);
}

.reset_form_btns {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-top: 5px;
   padding: 10px;
   position: absolute;
   right: 10px;
   bottom: 0;
}

.reset_form_btns a, button {
   width: 90px;
}

/* media queries */

@media (max-width: 350px) {
   .reset_form form input {
      width: 290px;
   }
}

@media (min-width: 650px) {
   .reset_form {
      width: 470px;
   }
}